name: Gradle Wrapper Validation

on:
  push:
    branches: [ "main" ]
    paths:
      - 'gradle/wrapper/**'
  pull_request:
    branches: [ "main" ]
    paths:
      - 'gradle/wrapper/**'

permissions:
  contents: read

jobs:
  validation:
    name: Validate Gradle Wrapper
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: Validate Gradle Wrapper
        uses: gradle/actions/wrapper-validation@4d9f0ba0025fe599b4ebab900eb7f3a1d93ef4c2 # v5.0.0
